.swiper {
  margin-bottom: 100px;
}
.swiper img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* .swiper h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.swiper h1 span {
  color: #d87d4a;
}
@media (max-width:575px) {
 

    .swiper h1 {
        font-size: 28px;
        letter-spacing: 1px;
    }
} */
