@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}
button {
  border: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  /* background: #FBAF85; */
  cursor: pointer;
}

.searchBar {
  display: flex;
  /* padding: 16px 24px; */
  padding: 0 100px;
  background-color: #0e0e0e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.forBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  width: 80vw;
  padding-left: 16px;
  color: white;
}

.mainwrap {
  width: 1110px;
}

@media (max-width: 1200px) {
  .mainwrap {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .mainwrap {
    width: 327px;
  }
}
/* h1 style */
h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

h1 span {
  color: #d87d4a;
}

@media (max-width: 575px) {
  h1 {
    font-size: 28px;
    letter-spacing: 1px;
  }
}
/* search bar styles */
#searchwrap {
  position: sticky;
  top: 100px;
  left: 150px;
  z-index: 999;
}
.searchBox {
  position: absolute;

  transform: translate(-50%, 50%);
  background: #0e0e0e;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchButton {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  box-shadow: rgb(216, 125, 74) 0px 10px 20px, rgb(216, 125, 80) 0px 6px 6px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  /* float: left; */
  position: relative;
  /* top:50%; */
  left: 5px;
  /* transform: translateY(-50%); */
  padding: 0;
  /* margin:3px; */
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
/* button hover effects */

.button-container-1 {
  position: relative;
  width: 160px;
  height: 48px;
  background: transparent;
  /* #0E0E0E; */

  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}

.button-container-1 button {
  background: #d87d4a;
  /* #D87D4A; */
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: 0;
  /* 1px solid rgba(255, 255, 255, 0.2); */
  color: #fff;
}

.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  text-align: center;
  width: 101%;
  border: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 13px;
  overflow: hidden;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
