.carda {
  background-color: #0e0e0e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}

.carda:hover {
  background-color: #272727;
}

.ctexts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cnumber {
  font-size: 24px;
  font-weight: 500;
}
