
.tablewrap {
    overflow-x: auto;
}
.purchases ::-webkit-scrollbar {
    height: 10px;
}

.purchases ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
}

.trtable {
    width: 100%;
}

.trtable td {
    padding: 10px;
}

.trUser {
    display: flex;
    gap: 10px;
    align-items: center;
}

.truserImage {
    object-fit: cover;
    border-radius: 50%;
}

.trProduct {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

